@import "./syntax";

$primary: #4D7888;
$secondary: #F39D00;
$gray: #AAA;
$gray-dark: #555;

body {
    background-color: #eee;
}

.hero {
    background-color: $primary;
    text-align: center;
    color: white;
    font-family: 'Courier New', monospace;
    padding-top: 50px;
    padding-bottom: 50px;

    .title {
        font-size: 60px;
    }

    .description {
        font-size: 34px;
    }

    .sub-description {
        margin-top: 5px;
        font-size: 18px;
    }

    .buttons {
        margin-top: 30px;
    }
}

a {
    color: $primary;
}

a.button {
    border-radius: 5px;
    background-color: #EEE;
    font-size: 20px;
    padding: 10px;
}

pre {
    text-align: left;
}

.sections {
    margin-top: 20px;
    margin-bottom: 40px;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1000px;

    &.darker {
        background-color: #ddd;
    }

    .header {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .main {
        text-align: center;

        p {
            font-size: 18px;
        }
    }
}

.juttle-example {
    text-align: left;
    border-radius: 4px;
    // border: 1px solid $gray;
    // padding: 20px 20px;
    margin-bottom: 40px;

    h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .description {
        font-size: 18px;
        color: $gray-dark;
    }

    .code {
        font-family: 'Courier new', monospace;
        font-size: 18px;
        text-align: left;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        line-height: 32px;
        margin-bottom: 20px;

        .adapter {
            line-height: 22px;
            display: inline-block;
            background-color: transparentize($secondary, 0.8);
            border: 1px solid transparentize(darken($secondary, 10%), 0.8);
            padding: 0px 10px;
            border-radius: 4px;
            color: darken($secondary, 15%);
            text-align: center;
            width: 120px !important;
            // font-weight: 600;

            &:before, &:after {
                line-height:16px;
                font-size: 1px;
                content: "\00a0";
            }
        }
    }
}

.adapters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 18px;

    & > a {
        width: 80px;
        display: block;
        text-align: left;
        margin: 20px 20px;
    }
}

.components {
    max-width: 1000px;

    .row {
        padding: 10px;
    }
    .description {
        text-align: left;

        .name {
            font-weight: bold;
        }
    }

    img {
        max-width: 100%;
    }

    pre {
        height: 250px;
    }
}

.navbar-container {
    max-width: 1000px;
    a {
        color: black;
    }

    .icon-bar {
        background-color: black;
    }
}
